.ButtonLarge {
    width: 25%;
    min-width: 160px;
    height: 120px;
    background-color:#deffb3;
    border: 3px solid dodgerblue;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
    margin: 10px 25px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px lightgray;
}

.ButtonLarge:hover, .ButtonLarge:focus {
    background-color: #c8ff80;
    border: 4px solid dodgerblue;
    color: black;
    cursor: pointer;
    width: 26%;
    height: 125px;
}

.AnswerButton {
    width: 35%;
    min-width: 160px;
    height: 120px;
    background-color: #deffb3;
    border: 3px solid dodgerblue;
    color: black;
    padding: 12px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 8px;
    margin: 10px 20px;
    box-sizing: border-box;
}

.AnswerButton:hover {
    border: 4px solid dodgerblue;
    background-color: #c8ff80;
    color: black;
    cursor: pointer;
    width: 35.5%;
    height: 121px;
}

@media screen and (max-width: 600px) {
    .AnswerButton {
        font-size: 18px;
    }
}