html {
    height: 100%;
    width: auto;
}

#root {
    margin-top: 100px;
    height: 100%;
}

.ContentHighScores {
    margin: 60px auto;
    width: 80%;
    min-height: 300px;
    text-align: center;
    font-size: 22px;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(255,255,255)
}

.ContentHighScores ol {
   margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .ContentHighScores {
        font-size: 24px;
    }
}