.ButtonSmall {
    width: 50%;
    background-color: #7ebcff;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
    margin-bottom: 10px;
}

.ButtonSmall:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

#playButton {
    width: 100px;
}
